{# Copyright 2020 Confluent
Contributors:
   Sven Erik Knop sven@confluent.io
   Christoph Schubert cschubert@confluent.io

 All rights reserved -#}
{# Template for cp-ansible inventory file -#}
{# Based on host_example.yml from https://github.com/confluentinc/cp-ansible -#}
# Automatically created from terraform data on {{timestamp}}

all:
  vars:
    ansible_connection: ssh
    ansible_user: {{ cluster_data.ssh_username}}
    ansible_become: true
    ansible_ssh_private_key_file: {{ cluster_data.ssh_key }}


zookeeper:
  hosts:
    {% for host in zookeeper -%}
    {{ host }}:
    {% endfor %}
kafka_broker:
  hosts:
    {% for host in kafka_broker -%}
    {{ host }}:
    {% endfor %}

schema_registry:
  hosts:
    {% for host in schema_registry -%}
    {{ host }}:
    {% endfor %}

kafka_rest:
  hosts:
    {% for host in kafka_rest -%}
    {{ host }}:
    {% endfor %}

ksql:
  hosts:
    {% for host in ksql -%}
    {{ host }}:
    {% endfor %}

kafka_connect:
  hosts:
    {% for host in kafka_connect -%}
    {{ host }}:
    {% endfor %}

control_center:
  hosts:
    {% for host in control_center -%}
    {{ host }}:
    {% endfor %}
